<div class="container">
  <div class="bg-light border p-3 rounded">
    <h5 class="font-weight-bold text-center">Main Form</h5>
    <hr />
    <form [formGroup]="mainForm">
      <div class="card-columns">
        <ng-container formArrayName="modules">
          <ng-template ngFor let-module [ngForOf]="modules.controls">
            <ng-container [formGroup]="module">
              <div class="card">
                <div class="card-header font-weight-bold text-capitalize">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" formControlName="isChecked" [id]="module.get('name').value">
                    <label class="custom-control-label" [for]="module.get('name').value">{{module.get('name').value}}</label>
                  </div>
                </div>
                <ng-container formArrayName="subModules">
                  <ul class="list-group list-group-flush">
                    <ng-template ngFor let-subModule [ngForOf]="module.controls.subModules.controls">
                      <ng-container [formGroup]="subModule">
                        <li class="list-group-item">
                          <span>{{subModule.get('name').value}}</span>
                          <hr class="my-2" />
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="read" [id]="'customCheckRead' + module.get('name').value">
                            <label class="custom-control-label" [for]="'customCheckRead' + module.get('name').value">Read</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="write" [id]="'customCheckWrite' + module.get('name').value">
                            <label class="custom-control-label" [for]="'customCheckWrite' + module.get('name').value">Write</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="delete" [id]="'customCheckDelete' + module.get('name').value">
                            <label class="custom-control-label" [for]="'customCheckDelete' + module.get('name').value">Delete</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="create" [id]="'customCheckCreate' + module.get('name').value">
                            <label class="custom-control-label" [for]="'customCheckCreate' + module.get('name').value">Create</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="import" [id]="'customCheckImport' + module.get('name').value">
                            <label class="custom-control-label" [for]="'customCheckImport' + module.get('name').value">Import</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" formControlName="export" [id]="'customCheckExport' + module.get('name').value">
                            <label class="custom-control-label" [for]="'customCheckExport' + module.get('name').value">Export</label>
                          </div>
                        </li>
                      </ng-container>
                    </ng-template>
                  </ul>
                </ng-container>
              </div>
            </ng-container>
          </ng-template>
        </ng-container>
      </div>
    </form>
  </div>
</div>
